button {
  border-radius: 3rem;
}

.fat_button {
  height: 6rem;
  width: 20%;
}

.mat-dialog-any-padding .mat-dialog-container{
  padding: 0 !important;
}

.thin_button{
  height: 3rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}