<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="logconsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate} | ${pad:padding=-5:inner=${level:uppercase=true}} | ${logger} | ${message}${onexception:${newline}${exception:format=toString,Data:maxInnerExceptionLevel=10}}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" backgroundColor="White" />
    </target>
  </targets>

  <rules>

    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="logconsole" />

  </rules>
</nlog>
