<div class="footer_container">
    <div class="top_container">
        <div class="wrapper">
            <img src="../../assets/icons/hot-air-balloon.png">
        </div>

        <div class="wrapper">
            <div class="logo_container">
                <img src="../../assets/logos/WeColo.png"/>
            </div>

            <div>
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web
                designs. Lorem ipsum, or lipsum as it is sometimes known,
            </div>

            <div class="contact_icon_container">
                <div class="icon_wrapper">
                    <img src="../../assets/contact/facebook.png" />
                </div>

                <div class="icon_wrapper">
                    <img src="../../assets/contact/twitter.png" />
                </div>

                <div class="icon_wrapper">
                    <img src="../../assets/contact/instagram.png" />
                </div>
            </div>
        </div>

        <div class="wrapper_text">
            <div class="title">ACCUEIL</div>
            <div class="label">Les séjours populaires</div>
            <div class="label">Les destinations</div>
            <div class="label">Bons plans</div>
            <div class="label">Dernières minutes</div>
        </div>

        <div class="wrapper_text">
            <div class="title">INFORMATIONS</div>
            <div class="label">Conditions générales d'utilisation</div>
            <div class="label">Politique de confidentialité</div>
            <div class="label">Aide</div>
        </div>

        <div class="wrapper_text">
            <div class="title">A PROPOS</div>
            <div class="label">Actualités</div>
            <div class="label">Blogs</div>
            <div class="label">Contactez-nous</div>
            <div class="label">Recrutement</div>
        </div>

        <div class="wrapper">
            <img src="../../assets/icons/hot-air-balloon.png">
            <div class="button_container">
                <button mat-raised-button color="accent" type="button" (click)="addStay()">Ajouter un séjour</button>
            </div>
        </div>
    </div>

    <div class="bottom_container">
        Copyright © 2021 W<span class="font_orange">ECOLO</span>. All rights reserved.
    </div>
</div>